@font-face {
    font-family: 'YournameD7HomeHalf';
    src: url('../YournameD7HomeHalf.ttf');
}

* {
    margin: 0;
    padding: 0;
}

.clock {
    width: 300px;
    height: 300px;
    float: left;
    border: 1px solid #ff0000;
    border-radius: 50%;
    position: relative;

    .sec {
        position: absolute;
        border-radius: 2px;
        content: "";
        width: 0.6%;
        height: 90%;
        left: 49.7%;
        top: 5%;
        z-index: 1;
        background-image: linear-gradient(to bottom, red 0%, red 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
        animation: jishi 60s steps(60, end) infinite;
        animation-delay: calc(var(--number) * -1s);
        ;

    }

    .min {
        position: absolute;
        border-radius: 2px;
        content: "";
        width: 1%;
        height: 70%;
        left: 49.5%;
        top: 15%;
        z-index: 2;
        background-image: linear-gradient(to bottom, red 0%, red 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
        animation: jishi 60s*60 steps(60) infinite;
        animation-delay: calc(var(--number) * -60s);
        ;

    }

    .hour {
        position: absolute;
        border-radius: 2px;
        width: 2%;
        height: 50%;
        left: 49%;
        top: 25%;
        z-index: 3;
        background-image: linear-gradient(to bottom, red 0%, red 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
        animation: jishi 60s*60*12 steps(60) infinite;
        animation-delay: calc(var(--number) * 60 * -60s);
        ;
    }

}

.time {
    font-family: YournameD7HomeHalf;
    font-size: 30px;
    position: absolute;
    width: 110px;
    height: 30px;
    overflow: hidden;
    left: 50%;
    bottom: 20%;
    z-index: 4;
    margin: 0 0 0 -55px;
    color:rgba(calc( 255 - var(--color)), calc( 255 - var(--color)), calc( 255 - var(--color)),1);
    background-color:rgba( var(--color), var(--color) , var(--color) , 1);
    div {
        position: absolute;
        top: 0;
        
        &::before {
            width: 30px;
            line-height: 30px;
            display: block;
            word-break: break-all;
        }
    }

    .h {
        left: 5px;
        animation: shijian 60*60*12s steps(24) infinite;
        animation-delay: calc(var(--number) * 60 * -60s / 2);

        &::before {
            content: "000102030405060708091011121314151617181920212223";
        }
    }

    .m {
        left: 40px;
        animation: fengmiao 60s*60 steps(60) infinite;
        animation-delay: calc(var(--number) * -60s);

        &::before {
            content: "000102030405060708091011121314151617181920212223242526272829303132333435363738394041424344454647484950515253545556575859";
        }
    }

    .s {
        left: 75px;
        animation: fengmiao 60s steps(60) infinite;
        animation-delay: calc(var(--number) * -60s);

        &::before {
            content: "000102030405060708091011121314151617181920212223242526272829303132333435363738394041424344454647484950515253545556575859";
        }
    }
}

@keyframes jishi {
    from {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fengmiao {
    from {
        top: 0;
    }

    100% {
        top: -1800px;
    }
}

@keyframes shijian {
    from {
        top: 0;
    }

    100% {
        top: -720px;
    }
}

.circular path {
    fill: none;
}

.circular {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 5;
}

.circular svg {
    display: block;
    overflow: visible;
    letter-spacing: 4px;
    transform: rotate(105deg);
    font-size: 10px;
}



//心
.heart {
    background: url(../web_heart_animation.png) top left no-repeat;
    width: 100px;
    height: 100px;
    margin: 100px 0 0 50px;
    float: left;
    animation: love 1s steps(28) infinite;
}

@keyframes love {
    to {
        background-position: right;
    }
}

//小人

.monster {
    width: 190px;
    height: 240px;
    float: left;
    margin: 0 0 0 50px;
    background: url('../monster.png') left center;
    animation: play 0.8s steps(10) infinite;
}

@keyframes play {
    100% {
        background-position: -1900px;
    }
}


//logo
.logo {
    width: 125px;
    height: 175px;
    background: url('../logo.png') left;
    background-size: cover;
    float: left;
    animation: lg 2s steps(17) infinite;
    margin: 50px 0 0 50px;
}

@keyframes lg {
    100% {
        background-position: -4250px;
    }
}